input,
select,
textarea {
  border: 1px solid var(--color-light-blue);
  padding: 10px;
  font-family: var(--primary-body-font-family);
}

textarea {
  height: 70%;
  min-height: 250px;
  min-width: 640px;
  resize: vertical;
}

.contact {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0 20px;
}

