@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@700&family=Cousine:wght@400;700&display=swap");

:root {
  --primary-color-background: var(--color-white);

  --color-beige: #efe2be;
  --color-black: #040505;
  --color-white: #fdfffc;
  --color-light-blue: #c3e9dc;
  --color-blue: #005f73;
  --color-dark-gray: #3c3c3b;
  --color-dark-orange: #faa810;
  --color-orange: #fdc85e;
  --color-dark-red: #ae2012;
  --color-red: #e6221a;
  --color-light-red: #ff5959;

  --primary-headings-font-family: "Bebas Neue";
  --primary-body-font-family: "'Alegreya Sans', sans-serif";

  --primary-font-color: var(--color-dark-gray);
  --font-white: var(--color-white);
}

.font-white {
  color: var(--font-white);
}

.background-color-light-blue {
  background-color: var(--color-light-blue);
}

html,
body {
  text-rendering: optimizespeed;
  height: 100%;
  min-width: 280px;
  overflow-wrap: break-word;
  overflow: hidden;
  overflow-y: scroll;
  margin: 0;
  font-family: var(--primary-body-font-family);
}

h1 {
  font-family: var(--primary-headings-font-family);
  letter-spacing: 0.1rem;
  padding: 0.5rem 0;
  margin: 0;
}

h2,
h3 {
  font-family: var(--primary-body-font-family);
  padding: 0.5rem 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

html:focus-within {
  scroll-behavior: smooth;
}

div {
  display: block;
}

main {
  width: 100%;
  background: var(--primary-color-background);
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;
}

.logo {
  background-image: url(/images/csm-logo/Logo-solid.png);
  background-size: cover;
  height: 60px;
  width: 60px;
}


header,
footer {
  background-color: var(--color-black);
  width: 100%;
}

.header-nav-item {
  text-align: center;
  display: inline-block;
  padding: 1rem 0.5rem 0;
}

.header-nav-item>a {
  text-decoration: none;
}

.header-midle-wrapper {
  padding-right: 144px;
  display: none;
}

@media (min-width: 980px) {
  .header-midle-wrapper {
    display: block;
  }
}

.nav-horizontal {
  position: relative;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding-left: 0.2rem;
  margin: auto;
}

.width-inline-block {
  max-width: 100%;
  display: inline-block;
}

.csm-text {
  display: none;
  text-align: center;
  position: relative;
  top: 15%;
  left: -5%;
}

@media (min-width: 760px) {
  .csm-text {
    display: block;
  }

  .logo {
    background-image: url(/images/csm-logo/Logo-solid-spacetext.png);
  }
}

.flex-aligne-items-center {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-button {
  display: flex;
  height: 80px;
  width: 144px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-image: url(/images/img-svg/Ticket=Default.svg);
  position: absolute;
  right: 70px;
  z-index: 2;
}

.standard-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-dark-gray);
  color: var(--color-white);
  padding: 5px 15px;
  min-height: 48px;
  min-width: 148px;
  max-width: 280px;
  cursor: pointer;
}

.standard-button:hover,
.standard-button:focus {
  background: var(--color-beige);
  color: var(--primary-font-color);
  transition-property: background, color;
  transition-duration: 350ms;
}

.nav-button:hover,
.nav-button:focus {
  background-image: url(/images/img-svg/Ticket=hover.svg);
}

.nav-text-block {
  font-family: var(--primary-headings-font-family);
  font-size: 2rem;
  letter-spacing: 0.05rem;
}

@media (min-width: 1170px) {
  .nav-text-block {
    font-size: 2.5rem;
  }

  .header-nav-item {
    padding: 1rem 1rem 0;
  }
}

.nav-icon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  height: 100%;
  padding-left: 20px;
}

.menu-wrap {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 60px;
  padding-right: 10px;
}

.a-action:hover,
.a-action:focus {
  color: var(--color-beige);
}

.menu-button {
  position: relative;
  padding: 8px;
  background-color: transparent;
  cursor: pointer;
}

.hamburger {
  display: flex;
  width: 38px;
  height: 17px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.hamburger-line {
  width: 2rem;
  height: 3px;
  background-color: var(--color-light-red);
}

.hero {
  container-type: inline-size;
  container-name: hero;
  margin-inline: auto;
}

@media (min-width:470px) {
  .hero {
    display: flex;
  }
}

.hero-img {
  width: 100%;
}


.hero-button:hover,
.hero-button:focus {
  opacity: 1;
  background: var(--color-blue);
  color: var(--font-white);
}

@container hero (min-width:280px) {
  .hero-text-block {
    text-align: center;
    font-size: 1rem;
    margin: auto;
    background: var(--color-dark-orange);
  }

  .hero-button {
    font-size: 1rem;
    position: absolute;
    z-index: 2;
    background: var(--color-light-blue);
    color: var(--primary-font-color);
    opacity: 0.97;
  }
}

@container hero (min-width:470px) {

  .hero-text-block {
    position: absolute;
    right: 0;
    z-index: 2;
    font-size: 1.2rem;
    font-size: clamp(1rem, 2.5cqi + 0.5rem, 3rem);
  }

  .hero-button {
    font-size: 1.2rem;
    bottom: -1rem;
  }
}

@container hero (min-width:690px) {
  .hero-text-block {
    right: 2rem;
    margin: 2rem 0;
    max-width: 35%;
  }

  .hero-button {
    bottom: -1.5rem;
    left: 10%;
    padding: 1rem 1.5rem;
  }
}

@container hero (min-width: 980px) {
  .hero-text-block {
    font-size: 2rem;
    font-size: clamp(2rem, 3cqi + 0.5rem, 4rem);
    margin: 4rem 0;
  }

  .hero-button {
    left: 30%;
  }
}

.content {
  margin: 1rem auto auto;
}

.content-wrapper {
  padding: 1rem;
  margin: auto;
  width: 100%;
}

.container,
.grid-item_container [data-type="narrow"] {
  max-width: 280px;
  margin: auto;
}

.container,
.grid-item_container [data-type="medium"] {
  max-width: 620px;
  margin: auto;
}

.container,
.grid-item_container [data-type="wide"] {
  max-width: 1440px;
  margin: auto;
}


.container {
  container-type: inline-size;
  container-name: content-container;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
}

.container>* {
  container-type: inline-size;
  container-name: item-container;
  margin-inline: auto;
  flex: 1;
  gap: 1;
}

.grid-item_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}


.grid-item_container>.grid-item {
  container-type: inline-size;
  container-name: grid-item_container;
  margin-inline: auto;
  display: grid;
  grid-template-rows: auto;
  gap: 1rem;
}

.card-list_title {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.grid-item {
  margin: 0 1rem auto;
  max-width: 280px;
  width: 100%;
}

.grid-item:hover,
.grid-item:focus {
  opacity: 0.85;
}

.card {
  display: grid;
  grid-template-columns: auto;
  margin: 0 auto;
  padding: 1rem;
}

@container content-container (min-width:180px) {
  .card-list_title {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 2cqi, 3rem);
    margin-top: 0;
    margin-bottom: 0;
  }

  .card-title {
    font-size: 1rem;
    font-size: clamp(1rem, 1.5cqi, 2.5rem);
    margin-top: 0;
    margin-bottom: 0;
  }

  .card>p {
    font-size: 0.7rem;
    font-size: clamp(0.7rem, 2cqi, 1.2rem);
    line-height: 2em;
    margin-top: 0;
    margin-bottom: 0;

  }
}